extends dashbord

block dashboard
      .container#downabit
        table.table
            thead 
                tr
                th(scope='col') #
                    th(scope='col') name
                    th(scope='col') email
                    th(scope='col') password
                    th(scope='col') Action
            tbody
            for user in user_list
                tr
                th(scope='col') #{user.id}
                th(scope='col') #{user.username}
                th(scope='col') #{user.email}
                th(scope='col') #{user.password}
                th(scope='col')
                  a(href="") 
                    i#items.fa.fa-pencil(style='font-size:24px; color: #6589ec')
                  a(href="")
                    i#items.fa.fa-remove(style='font-size:24px; color: #eb442e')